@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Integrantes:
<ul>
    <li>Nombre: <strong>Exequiel Andres</strong></li>
    <li>Apellido: <strong>Díaz</strong></li>
    <li>Legajo: <strong>LS00679</strong></li>
</ul>
<ul>
    <li>Nombre: <strong>Sebastian Fernando</strong></li>
    <li>Apellido: <strong>Acebedo</strong></li>
    <li>Legajo: <strong>905730</strong></li>
</ul>
<ul>
    <li>Nombre: <strong>Clara Elizabeth</strong></li>
    <li>Apellido: <strong>Sosa</strong></li>
    <li>Dni: <strong>45339034</strong></li>
</ul>
